# Node modules
node_modules/

# Logs
*.log
logs/

# Dependencias del sistema operativo
.DS_Store
Thumbs.db

# Entornos de build
dist/
build/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de entorno
.env
.env.*.local

# Archivos de cobertura de test
coverage/

# Archivos de lock de dependencias (en caso de que no quieras versionar estos archivos)
package-lock.json
yarn.lock

# Otros archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
